body
{
  padding-top: 50px;
  background-color: rgb(255, 255, 255);
  
}
.starter-template
{ 
  padding: 0px 15px;
  text-align: center;
}
h1
{
	margin: 0px;     
	color: #474347;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

.navbar-custom,
.navbar-nav a {
	background: #7fb5f3;
	border-color:#000000;
    
}
